* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("images/background-image.svg");
  background-repeat: no-repeat;
}
#main-content {
  display: flex;
}
.main-heading {
  height: auto;
  width: 450px;
  margin-top: 20px;
  margin-left: 75px;
}
.main-heading h1 {
  color: #ef6323;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3em;
  line-height: 0.8em;
}
.main-heading p {
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.3em;
}
.navbar {
  margin-left: 220px;
  margin-top: 20px;
  height: 50px;
  width: 600px;
}
.navbar ul {
  margin: 0;
  display: flex;
  gap: 40px;
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
}
.navbar li {
  list-style: none;
}
.navbar button {
  margin-right: 70px;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  background-color: #ef6323;
}
.middle {
  width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
}
.container h1 {
  width: 400px;
  color: #ffff;
  font-style: normal;
  font-weight: bolder;
  font-size: 3.8em;
}
.container p {
  margin-top: 20px;
  width: 470px;
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
}
.container button {
  margin-top: 20px;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
}
.youtube-video {
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  height: 400px;
}
.images {
  margin: 0 auto;
  margin-top: 300px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.about-us {
  margin-top: 80px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.img-para {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.image {
  width: 500px;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}
h2 {
  margin-left: 30px;
}
.para p {
  margin-left: 30px;
  margin-top: 40px;
  line-height: 1.5em;
  color: #929ba7;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
}
.para button {
  margin-left: 30px;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  background-color: #25377d;
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  width: 130px;
  height: 45px;
}
.heading h2 {
  text-align: center;
  margin-top: 125px;
  font-style: normal;
  font-weight: bolder;
  font-size: 2.5em;
  line-height: 1.5em;
}
.p {
  text-align: center;
  margin-top: 30px;
  color: #929ba7;
  font-style: normal;
  font-weight: 500;
}
.imgs {
  width: 1300px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.imgs img {
  border-radius: 20px;
  overflow: hidden;
  width: 350px;
  height: 250px;
}
.related {
  display: flex;
}
.related .h2 {
  width: 350px;
  margin-left: 80px;
  margin-top: 20px;
  background-color: #25377d;
  color: #ffff;
}
.related .h3 {
  width: 350px;
  margin-left: 70px;
  margin-top: 20px;
  background-color: #25377d;
  color: #ffff;
}
.related .h4 {
  width: 350px;
  margin-left: 70px;
  margin-top: 20px;
  background-color: #25377d;
  color: #ffff;
}
.paras {
  display: flex;
}
.paras .p1 {
  width: 350px;
  margin-left: 75px;
  margin-top: 25px;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: #25377d;
}
.paras .p2 {
  width: 350px;
  margin-left: 75px;
  margin-top: 25px;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: #25377d;
}
.paras .p3 {
  width: 350px;
  margin-left: 75px;
  margin-top: 25px;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  background-color: #25377d;
}
.btn {
  display: flex;
  gap: 235px;
}
.btn button {
  border: none;
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 20px;
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  background-color: #25377d;
}
